:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color-scheme: light dark;
    --cell-size: 100%;
    --cell-thickness: 3px;
    --grid-size: 4;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: aqua;
    justify-content: center;
}

.app-container {
    width: 50vw;
    height: 50%;
    font-size: 3.2em;
    line-height: 1.1;
    background-color: beige;
    display: flex;
}

.score-board {
    width: 300px;
    font-size: 24px;
    padding-right: 10px;
    background-color: rgb(88, 142, 200);
    justify-content: center;
    display: grid;
}
.white-score {
    color: white;
}
.black-score {
    color: black;
}

.othello-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    row-gap: 1px;
    column-gap: 1px;
}

.cell-container {
    background-color: rgb(14, 132, 14);
    width: var(--cell-size);
    height: var(--cell-size);
    box-sizing: border-box;
    border: 1px solid black;
    aspect-ratio: 1/1;
    display: grid;
    justify-items: center;
    align-items: center;
}

.white-container,
.black-container,
.blank-container {
    width: 90%;
    height: 90%;
    border-radius: 3pc;
}

.white-container {
    background-color: white;
}
.black-container {
    background-color: black;
}

.black-option,
.white-option {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    /* display: none; */
}
.black-option {
    border: 1px solid black;
}
.white-option {
    border: 1px solid white;

}

div[number],
span,
sub {
    pointer-events: none;
}

.white-score,
.black-score {
    text-align: right;
}


sub {
    font-size: 10px;
}